<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciador de Tarefas</title>
    <link rel="stylesheet" href="../public/Css/style.css">
</head>
<body>
    <h1>Gerenciador de Tarefas</h1>
    <form id="formulario" onsubmit="adicionarTarefa(event)">
        <div id="campoTarefa">
            <input type="text" id="nomeTarefa" placeholder="Digite o nome da tarefa..." required>
            <select id="statusTarefa" required>
                <option value="Pendente">Pendente</option>
                <option value="Concluida">Concluida</option>
            </select>
        </div>
        <button type="submit" id="adicionarTarefa">Adicionar Tarefa</button>
    </form>

    <ul id="listaTarefas"></ul>
    <button id="limparTarefas">Limpar todas as tarefas</button>

    <!-- Botão para testar as funções do script.js
    <button id="buttonGet">Get</button>
    <button id="buttonPost">Post</button>
    <button id="buttonPut">Put</button>
    <button id="buttonDelete">Delete</button>
    <button id="buttonDeleteAll">Delete All</button>
    -->
   <script src="../public/JavaScript/script.js"></script>
</body>
</html>